<!DOCTYPE html>
<html prefix="schema: https://schema.org/" lang="{{lang}}" data-bulma-theme=light>
<head>
    <title>{{l10n.format_value("title")}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bulma-prefixed.min.css">
    <link rel="stylesheet" href="/styling.css">
    <link rel="stylesheet" href="/prism.css"/>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body class="line-numbers">
<div class="bulma-container">
    <nav class="bulma-navbar" role="navigation" aria-label="main navigation">
        <h1 class="bulma-navbar-brand">
            <a class="bulma-navbar-item" href="{{url}}">
                <img src="/rdf.svg" width="59" height="64" alt="The RDF logo" style="max-height: 100%;"/>
                <span class="bulma-title">{{l10n.format_value("title-small")}}</span>
            </a>
        </h1>
        <div class="bulma-navbar-end">
            {% for language in languages %}
            <a href="{{language.url}}" class="bulma-navbar-item">
                {{l10n.format_value(language.label)}}
                <img src="{{language.icon}}" alt="" width="24" height="24" style="max-height: 100%;"/>
            </a>
            {% endfor %}
        </div>
    </nav>
    <main>
        <nav class="bulma-block bulma-content">
            <div class="bulma-notification bulma-is-small">
                {{markdown(l10n.format_value("introduction"))|safe}}
                <ul>
                    {% for index in indexes %}
                    <li><a href="{{url}}#{{index.plural}}">{{l10n.format_value(index.plural)}}</a></li>
                    {% endfor %}
                </ul>
                {{markdown(l10n.format_value("introduction-end", { 'url': url }))|safe}}
            </div>
        </nav>
        {% for index in indexes %}
        <section id="{{index.plural}}" class="bulma-block">
            <h2 class="bulma-title bulma-is-3">{{l10n.format_value(index.plural)}}</h2>
            <div class="cards">
                {% for item in index.list %}
                <article about="{{item.get('id')}}" class="bulma-card" typeof="{{item.get('type')}}">
                    <div class="bulma-card-content">
                        <h3 class="bulma-title bulma-is-5" property="schema:name" lang="{{item.get('name').language}}">
                            {{item.get("name")}}
                        </h3>
                        <ul class="bulma-tags bulma-is-small">
                            {% for tag in item.get("tags").split(";") %}
                            <li property="schema:keywords" resource="{{tag}}" class="bulma-tag"
                                typeof="{{tags[tag].get('type')}}">
                                <span property="schema:name" lang="{{tags[tag].get('name').language}}">
                                    {{tags[tag].get("name")}}
                                </span>
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="bulma-content" property="schema:description"
                             lang="{{item.get('description').language}}">
                            {{markdown(item.get("description"))|safe}}
                        </div>
                    </div>
                    <div class="bulma-card-footer">
                        <a href="{{item.get('url')}}" class="bulma-card-footer-item" property="schema:url"
                           resource="{{item.get('url')}}">
                            {{l10n.format_value("go-to", {
                            'thing': l10n.format_value(index.single).lower()
                            })}}
                        </a>
                    </div>
                </article>
                {% endfor %}
            </div>
        </section>
        {% endfor %}
        <section id="about" class="bulma-block">
            <h2 class="bulma-title bulma-is-3">{{l10n.format_value("about-title")}}</h2>
            <div class="bulma-content">
                {{markdown(l10n.format_value("about-description", {
                'repo_url': "https://github.com/megoth/lenka"
                }))|safe}}
            </div>
        </section>
        {% if serializations|length > 0 %}
        <section id="serializations">
            <h2 class="bulma-title bulma-is-3">{{l10n.format_value("serializations-title")}}</h2>
            <div class="bulma-content">
                {{markdown(l10n.format_value("serializations-description"))|safe}}
            </div>
            {% for serialization in serializations %}
            <article class="bulma-block">
                <h3 class="bulma-title bulma-is-5">{{serialization.label}}</h3>
                <pre>curl --header "Accept: {{serialization.format}}" https://lenka.vercel.app</pre>
                <pre class="code"><code class="language-{{serialization.code}}">{{serialization.text}}</code></pre>
            </article>
            {% endfor %}
        </section>
        {% endif %}
        <footer class="bulma-block">
            {{markdown(l10n.format_value("copyright"))|safe}}
            <a href="https://www.w3.org/RDF/icons/" lang="en">
                RDF logo provided by W3C
            </a>
            {% if lang == 'en' %}
            <a href="https://www.flaticon.com/free-icons/norway" title="norway icons" lang="en">
                Norway icons created by Freepik - Flaticon
            </a>
            {% elif lang == 'no' %}
            <a href="https://www.flaticon.com/free-icons/uk-flag" title="uk flag icons" lang="en">
                UK flag icons created by Freepik - Flaticon
            </a>
            {% endif %}
        </footer>
    </main>
</div>
<script src="/prism.js"></script>
</body>
</html>
