{% macro render_list_item(item, type) -%}
<li about="{{item.get('id')}}" class="card" typeof="{{item.get('type')}}">
    <div class="card-content">
        <h3 class="subtitle" property="schema:name" lang="{{item.get('name').language}}">
            {{item.get("name")}}
        </h3>
        <div class="content" property="schema:description" lang="{{item.get('description').language}}">
            {{markdown(item.get("description"))|safe}}
        </div>
        <ul class="tags is-small">
            {% for tag in item.get("tags").split(";") %}
            <li property="schema:keywords" resource="{{tag}}" class="tag" typeof="{{tags[tag].get('type')}}">
                <span property="schema:name" lang="{{tags[tag].get('name').language}}">
                    {{tags[tag].get("name")}}
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="card-footer">
        <a href="{{item.get('url')}}" class="card-footer-item" property="schema:url"
           resource="{{item.get('url')}}">
            {{l10n.format_value("go-to", {
            'thing': l10n.format_value(type).lower()
            })}}
        </a>
    </div>
</li>
{% endmacro -%}<!DOCTYPE html>
<html prefix="schema: https://schema.org/" lang="{{lang}}">
<head>
    <title>{{l10n.format_value("title")}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bulma.min.css">
    <link rel="stylesheet" href="/styling.css">
</head>
<body>
<div class="container">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <h1 class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/rdf.svg" width="59" height="64" alt="The RDF logo" style="max-height: 100%;"/>
                <span class="title">{{l10n.format_value("title-small")}}</span>
            </a>
        </h1>
        <div class="navbar-end">
            {% if lang == 'en' %}
            <a href="/" class="navbar-item">
                {{l10n.format_value("norwegian")}}
                <img src="/norway.png" alt="" width="24" height="24" style="max-height: 100%;"/>
            </a>
            {% elif lang == 'no' %}
            <a href="/en" class="navbar-item">
                {{l10n.format_value("english")}}
                <img src="/united-kingdom.png" alt="" width="24" height="24" style="max-height: 100%;"/>
            </a>
            {% endif %}
        </div>
    </nav>
    <main>
        <div class="content">
            <div class="notification is-small">
                {{markdown(l10n.format_value("introduction"))|safe}}
            </div>
        </div>
        <article>
            <h2 class="title is-3">{{l10n.format_value("communities")}}</h2>
            <ul>
                {% for community in communities %}
                {{render_list_item(community, "community")}}
                {% endfor %}
            </ul>
        </article>
        <article>
            <h2 class="title is-3">{{l10n.format_value("courses")}}</h2>
            <ul>
                {% for course in courses %}
                {{render_list_item(course, "course")}}
                {% endfor %}
            </ul>
        </article>
        <article class="content">
            <h2 class="title is-3">{{l10n.format_value("about-title")}}</h2>
            {{markdown(l10n.format_value("about-description", {
            'repo_url': "https://github.com/megoth/lenka"
            }))|safe}}
        </article>
        <footer>
            {{markdown(l10n.format_value("copyright"))|safe}}
            <a href="https://www.w3.org/RDF/icons/" lang="en">
                RDF logo provided by W3C
            </a>
            <a href="https://www.flaticon.com/free-icons/norway" title="norway icons" lang="en">
                Norway icons created by Freepik - Flaticon
            </a>
            <a href="https://www.flaticon.com/free-icons/uk-flag" title="uk flag icons" lang="en">
                UK flag icons created by Freepik - Flaticon
            </a>
        </footer>
    </main>
</div>
</body>
</html>