main {
    padding: 0.5rem;
}
@media screen and (min-width: 1024px) {
    main {
        padding: 0;
    }
}

main > article {
    margin-bottom: 2rem;
}

footer {
    display: flex;
    gap: 1rem;
    overflow: auto;
    scroll-snap-type: x mandatory;
}
footer > * {
    margin: 1em 0;
    min-width: 100%;
    scroll-snap-align: start;
    white-space: nowrap;
}

.navbar {
    display: flex;
    margin-bottom: 0.5rem;
}
.navbar-brand {
    flex-grow: 1;
}
.navbar-item {
    display: flex;
    align-items: center;
}
.navbar-end {
    align-items: center;
    display: flex;
    flex-grow: 0;
    white-space: nowrap;
}