main {
    padding: 0.5rem;
    @media screen and (min-width: 1024px) {
        padding: 0;
    }
}

main > article {
    margin-bottom: 2rem;
}

code {
    border-radius: 0;
}

pre:not(.code) {
    padding: 0.5rem 0.75rem;
}

footer {
    display: flex;
    gap: 1rem;
    overflow: auto;
    scroll-snap-type: x mandatory;
}
footer > * {
    padding: 1em 0;
    min-width: 100%;
    scroll-snap-align: start;
    white-space: nowrap;
    @media screen and (min-width: 1024px) {
        min-width: auto;
    }
}
footer a {
    color: var(--bulma-body-color);
    text-decoration: underline;
}

.cards {
    display: grid;
    gap: var(--bulma-block-spacing) ;
    column-gap: 0.75rem;
    @media screen and (min-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.bulma-card:not(:last-child) {
    margin-bottom: 0;
}

.bulma-card {
    display: flex;
    flex-direction: column;
}

.bulma-card-content {
    flex-grow: 1;
}

.bulma-card-content > *:not(:last-child) {
    margin-bottom: calc(var(--bulma-block-spacing) / 2);
}

.code.code {
    font-size: var(--bulma-small-font-size);
    max-height: max(300px, 50vh);
}

.bulma-navbar {
    display: flex;
    margin-bottom: 0.5rem;
}
.bulma-navbar-brand {
    flex-grow: 1;
}
.bulma-navbar-item {
    display: flex;
    align-items: center;
}
.bulma-navbar-end {
    align-items: center;
    display: flex;
    flex-grow: 0;
    white-space: nowrap;
}

.bulma-title:not(:last-child) {
    margin-bottom: calc(var(--bulma-block-spacing) / 2);
}